<!-- User profile section -->
<section class="ec-page-content ec-vendor-uploads ec-user-account section-space-p">
    <div class="container">
        <div class="row">
            <!-- Sidebar Area Start -->
            <div class="ec-shop-leftside ec-vendor-sidebar col-lg-3 col-md-12">
                <div class="ec-sidebar-wrap">
                    <!-- Sidebar Category Block -->
                    <div class="ec-sidebar-block">
                        <div class="ec-vendor-block">
                            <!-- <div class="ec-vendor-block-bg"></div>
                                <div class="ec-vendor-block-detail">
                                    <img class="v-img" src="/images/user/1.jpg" alt="vendor image">
                                    <h5>Mariana Johns</h5>
                                </div> -->
                            <div class="ec-vendor-block-items">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/cart">Cart</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ec-shop-rightside col-lg-9 col-md-12">
                <div class="ec-vendor-dashboard-card ec-vendor-setting-card">
                    <div class="ec-vendor-card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ec-vendor-block-profile">
                                    <div class="ec-vendor-block-img space-bottom-30">
                                        <div class="ec-vendor-block-bg">
                                            <a href="#" class="btn btn-lg btn-primary" data-link-action="editmodal"
                                                title="Edit Detail" data-bs-toggle="modal"
                                                data-bs-target="#edit_modal">Edit Detail</a>
                                        </div>
                                        <div class="ec-vendor-block-detail">
                                            <img class="v-img" src="/images/user/2.jpg" alt="vendor image">
                                            <h5 class="name">
                                                <%= name %>
                                            </h5>
                                        </div>
                                        <p>Hello <span>
                                                <%= name %>
                                            </span></p>
                                        <p>IE104.CNCL</p>
                                    </div>
                                    <h5>Account Information</h5>

                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-email space-bottom-30">
                                                <h6>Email address <a href="javasript:void(0)"
                                                        data-link-action="editmodal" title="Edit Detail"
                                                        data-bs-toggle="modal" data-bs-target="#edit_modal"><img
                                                            src="/images/icons/edit.svg" class="svg_img pro_svg"
                                                            alt="edit" /></a></h6>
                                                <ul>
                                                    <li><strong>Email : </strong><a
                                                            href="https://loopinfosol.in/cdn-cgi/l/email-protection"
                                                            class="__cf_email__"
                                                            data-cfemail="44373134342b36307604213c25342928216a272b29">
                                                            <%= email %>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-contact space-bottom-30">
                                                <h6>Contact number<a href="javasript:void(0)"
                                                        data-link-action="editmodal" title="Edit Detail"
                                                        data-bs-toggle="modal" data-bs-target="#edit_modal"><img
                                                            src="/images/icons/edit.svg" class="svg_img pro_svg"
                                                            alt="edit" /></a></h6>
                                                <ul>
                                                    <li><strong>Phone Nubmer : </strong>
                                                        <%= phone %>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-address mar-b-30">
                                                <h6>Address<a href="javasript:void(0) " data-link-action="editmodal"
                                                        title="Edit Detail" data-bs-toggle="modal"
                                                        data-bs-target="#edit_modal"><img src="/images/icons/edit.svg"
                                                            class="svg_img pro_svg" alt="edit" /></a></h6>
                                                <ul>
                                                    <li><strong>Address : </strong>
                                                        <%= address %>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-address">
                                                <h6>Shipping Address<a href="javasript:void(0)"
                                                        data-link-action="editmodal" title="Edit Detail"
                                                        data-bs-toggle="modal" data-bs-target="#edit_modal"><img
                                                            src="/images/icons/edit.svg" class="svg_img pro_svg"
                                                            alt="edit" /></a></h6>
                                                <ul>
                                                    <li><strong>Address : </strong>
                                                        <%= address %>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End User profile section -->

<!-- Modal -->
<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="ec-vendor-block-img space-bottom-30">
                        <div class="ec-vendor-block-bg cover-upload">
                            <div class="thumb-upload">
                                <div class="thumb-edit">
                                    <input type='file' id="thumbUpload01" class="ec-image-upload"
                                        accept=".png, .jpg, .jpeg" />
                                    <label><img src="/images/icons/edit.svg" class="svg_img header_svg"
                                            alt="edit" /></label>
                                </div>
                                <div class="thumb-preview ec-preview">
                                    <div class="image-thumb-preview">
                                        <img class="image-thumb-preview ec-image-preview v-img"
                                            src="/images/banner/8.jpg" alt="edit" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ec-vendor-block-detail">
                            <div class="thumb-upload">
                                <div class="thumb-edit">
                                    <input type='file' id="thumbUpload02" class="ec-image-upload"
                                        accept=".png, .jpg, .jpeg" />
                                    <label><img src="/images/icons/edit.svg" class="svg_img header_svg"
                                            alt="edit" /></label>
                                </div>
                                <div class="thumb-preview ec-preview">
                                    <div class="image-thumb-preview">
                                        <img class="image-thumb-preview ec-image-preview v-img" src="/images/user/1.jpg"
                                            alt="edit" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ec-vendor-upload-detail">
                            <form class="row g-3" action="/user/edit/<%= id %>?_method=PUT" method="POST">
                                <div class="col-md-6 space-t-15">
                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control" name="name" value="<%= name %>" />
                                </div>

                                <div class="col-md-12 space-t-15">
                                    <label class="form-label">Address</label>
                                    <input type="text" class="form-control" name="address" value="<%= address %>">
                                </div>

                                <div class="col-md-6 space-t-15">
                                    <label class="form-label">Email</label>
                                    <input type="text" class="form-control" name="email" value="<%= email %>">
                                </div>

                                <div class="col-md-6 space-t-15">
                                    <label class="form-label">Phone number</label>
                                    <input type="text" class="form-control" name="phone" value="<%= phone %>">
                                </div>

                                <div class="col-md-12 space-t-15">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <a href="/user/profile" class="btn btn-lg btn-secondary qty_close"
                                        data-bs-dismiss="modal" aria-label="Close">Close</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->